body {
	font-family: 'Lato', sans-serif;color: #1b1b29;font-weight: 400;
	background-color: #d5cbca;
}

/* Header */
.header-logo {
	margin: 0;
}

/* Content */
hr {
	height: 3px; background: #bcbbbb;
}
.text-muted {
	color: #bcbbbb;
}

.text-thin {
	font-weight: 100;
}

.text-medium {
	font-weight: 300;
}

.text-medium a {
	font-size: 1.2em;
}

.text-large {
 	font-size: 3em;
 }


.nav-justified {
  background-color: #eee;
  border: 1px solid #ccc;
  border-radius: 5px 5px 0 0;
}
.nav-justified > li > a {
  padding-top: 15px;
  padding-bottom: 15px;
  margin-bottom: 0;
  font-weight: bold;
  color: #cc6055;
  text-align: center;
  background-color: #341a07; /* Old browsers */
  background-image: -webkit-gradient(linear, left top, left bottom, from(#542d11), to(#341a07));
  background-image: -webkit-linear-gradient(top, #542d11 0%, #341a07 100%);
  background-image:      -o-linear-gradient(top, #542d11 0%, #341a07 100%);
  background-image:         linear-gradient(to bottom, #542d11 0%,#341a07 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#542d11', endColorstr='#341a07',GradientType=0 ); /* IE6-9 */
  background-repeat: repeat-x; /* Repeat the gradient */
  border-bottom: 1px solid #341a07;
  -webkit-transition: all 0.1s ease-in;
  -moz-transition: all 0.1s ease-in;
  -o-transition: all 0.1s ease-in;
}
.nav-justified > .active > a,
.nav-justified > .active > a:hover,
.nav-justified > .active > a:focus {
  background-color: #ad4d07;
  color: #e9beb9;
  background-image: none;
  -webkit-box-shadow: inset 0 3px 7px rgba(0,0,0,.15);
          box-shadow: inset 0 3px 7px rgba(0,0,0,.15);
}
.nav-justified > li:first-child > a {
  border-radius: 5px 5px 0 0;
}
.nav-justified > li:last-child > a {
  border-bottom: 0;
  border-radius: 0 5px 5px 5px;
}

@media (min-width: 768px) {
  .nav-justified {
    max-height: 52px;
  }
.nav-justified li:hover {
	background: #b65815;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#fa6b03), to(#b65815));
	  background-image: -webkit-linear-gradient(top, #fa6b03 0%, #b65815 100%);
	  background-image:      -o-linear-gradient(top, #fa6b03 0%, #b65815 100%);
	  background-image:         linear-gradient(to bottom, #fa6b03 0%,#b65815 100%);
	  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fa6b03', endColorstr='#b65815',GradientType=0 ); /* IE6-9 */
	  background-repeat: repeat-x; /* Repeat the gradient */
	  border-bottom: 1px solid #fa6b03;
	/*border-left: 5px solid #542d11;*/
}

.nav-justified li:hover a {
	font-weight: bold;
	color: #ffcc05;
}
  .nav-justified > li > a {
    border-right: 1px solid #d5d5d5;
    border-left: 1px solid #fff;
	-webkit-transition: all 0.3s ease-in;
	-moz-transition: all 0.3s ease-in;
	-o-transition: all 0.3s ease-in;
  }
  .nav-justified > li:first-child > a {
    border-left: 0;
    border-radius: 5px 0 0 0px;
  }
  .nav-justified > li:last-child > a {
    border-right: 0;
    border-radius: 0 5px 0 0;
  }
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .masthead,
  .marketing,
  .footer {
    padding-right: 0;
    padding-left: 0;
  }
}

