body {
	font-family: 'Lato', sans-serif;
	color: #1b1b29;
	font-weight: 400;
}

/* Header */
header {
  vertical-align: middle;
}
.header-logo {
	margin: 0;
}
p.title {
  padding: 0 20px 0 84px;
  font-size: 1.5em;
  color: #5b8112;
  line-height: 1.9em;
  margin: -30px 0 5px 0;
  font-family: 'Lato',sans-serif;
  font-style: italic;
}

/* Navigation */
.nav-justified {
  background-color: #eee;
  border: 1px solid #ccc;
  border-radius: 5px 5px 0 0;
}
.nav-justified > li > a {
  padding-top: 15px;
  padding-bottom: 15px;
  margin-bottom: 0;
  font-weight: bold;
  color: #ffcc05;
  text-align: center;
  background-color: #341a07; /* Old browsers */
  background-image: -webkit-gradient(linear, left top, left bottom, from(#542d11), to(#341a07));
  background-image: -webkit-linear-gradient(top, #542d11 0%, #341a07 100%);
  background-image:      -o-linear-gradient(top, #542d11 0%, #341a07 100%);
  background-image:         linear-gradient(to bottom, #542d11 0%,#341a07 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#542d11', endColorstr='#341a07',GradientType=0 ); /* IE6-9 */
  background-repeat: repeat-x; /* Repeat the gradient */
  border-bottom: 1px solid #341a07;
  -webkit-transition: all 0.1s ease-in;
  -moz-transition: all 0.1s ease-in;
  -o-transition: all 0.1s ease-in;
}
.nav-justified > .active > a,
.nav-justified > .active > a:hover,
.nav-justified > .active > a:focus {
  background-color: #ad4d07;
  color: #ffcc05;
  background-image: none;
  -webkit-box-shadow: inset 0 3px 7px rgba(0,0,0,.15);
          box-shadow: inset 0 3px 7px rgba(0,0,0,.15);
}
.nav-justified > li:first-child > a {
  border-radius: 5px 5px 0 0;
}
.nav-justified > li:last-child > a {
  border-bottom: 0;
  border-radius: 0 5px 5px 5px;
}

/* Content */
.text-thin {
	font-weight: 100;
}
.text-medium {
	font-weight: 300;
}
.text-medium a {
	font-size: 1.2em;
}
.text-large {
 	font-size: 3em;
 }

@media (min-width: 768px) {
  .h2, h2 {
    font-size: 25px;
  }
  .text-medium a {
    font-size: 1em;
  }
  .nav-justified {
    max-height: 52px;
  }
  .nav-justified li:hover {
  	background: #b65815;
  	background-image: -webkit-gradient(linear, left top, left bottom, from(#fa6b03), to(#b65815));
  	  background-image: -webkit-linear-gradient(top, #fa6b03 0%, #b65815 100%);
  	  background-image:      -o-linear-gradient(top, #fa6b03 0%, #b65815 100%);
  	  background-image:         linear-gradient(to bottom, #fa6b03 0%,#b65815 100%);
  	  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fa6b03', endColorstr='#b65815',GradientType=0 ); /* IE6-9 */
  	  background-repeat: repeat-x; /* Repeat the gradient */
  	  border-bottom: 1px solid #fa6b03;
  	/*border-left: 5px solid #542d11;*/
  }
  .nav-justified li:hover a,
  .nav-justified > .active > a:hover {
  	font-weight: bold;
  	color: #cc6055;
  }
  .nav-justified > li > a {
    border-right: 1px solid #d5d5d5;
    border-left: 1px solid #fff;
	-webkit-transition: all 0.3s ease-in;
	-moz-transition: all 0.3s ease-in;
	-o-transition: all 0.3s ease-in;
  }
  .nav-justified > li:first-child > a {
    border-left: 0;
    border-radius: 5px 0 0 0px;
  }
  .nav-justified > li:last-child > a {
    border-right: 0;
    border-radius: 0 5px 0 0;
  }
}

/* Responsive: small mobile devices */
@media screen and (max-width: 499px) {
/*  p.title {
    padding: 0 20px 0 68px;
    font-size: 0.8em;
    color: #5b8112;
    line-height: 0.9em;
    margin: -15px 0 5px 0;
    font-family: 'Lato',sans-serif;
    font-style: italic;
  }*/
  p.title {
    display: none;
  }
  .header-logo {
    margin: 0;
    width: 75%;
  }
  .text-medium a {
    font-size: 1em;
  }
  .h2, h2 {
    font-size: 20px;
  }
  .nav-justified > li:first-child > a {
    border-radius: 0;
  }
  .nav-justified > li:last-child > a {
    border-radius: 0;
  }
}

@media only screen and (min-width:501px) and (max-width: 767px) {
  p.title {
    padding: 0 20px 0 84px;
    font-size: 0.9em;
    color: #5b8112;
    line-height: 1.9em;
    margin: -20px 0 5px 0;
    font-family: 'Lato',sans-serif;
    font-style: italic;
  }
  .featured-work {
    width:50%;
  }
  .text-medium a {
    font-size: 1em;
  }
  .h2, h2 {
    font-size: 25px;
  }
}

@media screen and (max-width: 767px) {
  #wowslider-container0 {
    display: none !important;
  }
  .navbar-toggle {
    position: relative;
    float: right;
    padding: 9px 10px;
    margin-top: 8px;
    margin-right: 15px;
    margin-bottom: 8px;
    background-color: #542d11;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
  }
  .navbar-toggle .icon-bar {
    display: block;
    width: 22px;
    height: 2px;
    border-radius: 1px;
    background-color: #ffcc05;
  }
  .navbar-header {
    background-color: #ad4d07;
    margin-left: 15px;
    margin-right: 15px;
    box-shadow: inset 0 3px 7px rgba(0,0,0,.15);
  }
  .container-fluid>.navbar-collapse, .container-fluid>.navbar-header, .container>.navbar-collapse, .container>.navbar-header {
      margin-right: -15px;
      margin-left: -15px;
  }
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .masthead,
  .marketing,
  .footer,
  .navbar-collapse {
    padding-right: 0;
    padding-left: 0;
  }
}




